In [2]:
#create csv file
import csv
import pandas as pd 

newFile = input("press 1 to create a new file, press 2 to update an existing file")

if(newFile == "1"):
    file = open("apple-price.csv", 'w')
    file.write("name,year,cost,size\n")
elif(newFile == "2"):
    file = open("apple-price.csv", 'a')
else:
    print("Incorrect answer")
    exit

stop = False

while(stop != True):
    name = input("Enter the name of the phone:")
    year = input("year:")
    cost = input("cost:")
    size = input("size:")
    file.write(name + "," + year + "," + cost + "," + size + "\n")
    stop = input("press y to enter another or x to stop")
    if(stop == "x"):
        stop = True
file.close()

Incorrect answer

NameError: name 'file' is not defined

In [3]:
#read the file
df = pd.read_csv("apple-price.csv")
df.head()

       name  year  cost  size
0   iphone1  2010   200    20
1  iphone 2  2011   300    30
2   iphone3  2013  2000   300
3   iphone5  2016   500    90